.all-links-container{
    padding: 10px 0;
}
.link-container a{
    display: block;
    margin: 2px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(117, 185, 241, 0.11)
}
.link-container a:hover{
    color: white;
    background-color: rgb(56, 48, 133);
}
.icon-ancor-container a{
    display: inline;
    color: black;
}
.icon-ancor-container a:hover{
    background-color: none !important
}

