.avater-container{
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

@media screen and (max-width: 1144px) and (min-width: 900px){
    .avater-container h3{
        font-size: 35px;
    }
}
@media screen and (max-width: 899px) and (min-width: 600px) {
    .avater-container h3{
        font-size: 30px;
    }
}